---
layout: default
---
<article class="post">

  <header class="post-header">
	  <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
	  {{ content }}
	  <h2>Languages</h2>
	  <p>At coderdojo kids can learn about computer coding by using various different languages such as block coding in Scratch or more common languages such as Pythor or JavaScript.</p>
	  <h2>Links</h2>
	  <a href="https://www.khanacademy.org/computing/computer-programming/programming">JavaScript introduction on Khan academy</a>

  </div>

</article>
